/* * {
  border: 1px solid rgb(37, 33, 33) !important;
} */


/* most of screen*/
body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  /* height: 100%; */
  min-height: 100vh;
  box-sizing: border-box;
}


/* top of screen*/
.nav-bar {
  padding: 0px;
  margin: 0px;
  background: rgba(0, 0, 0, 0.66);
}
header {
  background: url(https://i.imgur.com/cMzhQVf.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(240, 238, 236);
  text-shadow: 3px 3px black;
  border: 1px solid rgb(37, 33, 33);
}
  nav {
  display: inline;
  
}


/* holds right and left side of screen*/
.divider {
  display: flex;
  flex-direction: row;
}


/* left side of screen*/
.s-bar{
  display: flex;
  flex-direction: column;
  background: rgb(126, 109, 86);
}
.box-and-bar{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search-img{
  display: flex;
  justify-content: center;
  width: 215px;
  height: auto;
  border-radius: 5%;
}
.states-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
  background-color: rgb(215, 205, 201);
}
.states-ul{
  list-style: none;
  padding-left: 15px;
}
.states-initials-ul{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  list-style: none;
  text-align: right;
  padding-left: 5%;
}
.park-description{
  display: flex;
  flex-direction: column;
}


/* right side of screen*/

.outcome{
  min-width: 75%;
  padding-left: 10px;
  background: rgb(223, 233, 219);
  min-height: 100%;
}
.about{
  text-align: center;
}
.all-park-info{
  display: flex;
  background-color:  rgb(97, 113, 90);
  padding: 2px;
}
.img-and-info{
  display: flex;
  flex-direction: column;
  background-color:  rgb(215, 250, 216)
}
.park-specifics{
  display: flex;
  background-color: azure;
  justify-content: center;
}
.park-img {
width: 40%;
max-width: 350px;
min-width: 250px;
height: auto;
border-radius: 15px;
}
.park-name-and-park-address{
  background-color: rgb(207, 189, 233);
 align-items: flex-start;
}
.park-name{
text-align: center;
margin-top: 20px;

}
.park-address-city-state{
text-align: center;
margin-top: 10px;
}
.park-address{
  text-align: center;
}

.park-generals{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.park-description{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 85%;
  background-color: rgb(200, 230, 225);
}
.days-of-the-week {
  text-align: left;
  display: block;
  width: 45%;
 
  background-color:rgb(240, 238, 236);
}
.missing-info{
  background-color: rgb(223, 209, 196);
 
}

@media screen and (max-width: 375px) {
  
}