/* * {
  border: 1px solid rgb(37, 33, 33) !important;
} */

body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  /* height: 100%; */
  min-height: 100vh;
  box-sizing: border-box;
}



.nav-bar {
  padding: 0px;
  margin: 0px;
  background: rgba(0, 0, 0, 0.66);
}
header {
  background: url(https://i.imgur.com/cMzhQVf.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(240, 238, 236);
  /* text-shadow: 0px 10px 0px 10px black; */
}
  nav {
  display: inline;
  
}



.divider {
  display: flex;
  flex-direction: row;
  /* width: 100%;
  min-height: 100vh; */
}
.s-bar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background: burlywood;
  /* min-height: 100%; */
}
.search-img{
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
}
.states-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.states-ul{
  list-style: none;
}
.states-initials{
  display: flex;
  flex-direction: column;
}



.outcome{
  min-width: 75%;
  padding-left: 10px;
  background: rgb(150, 176, 139);
  min-height: 100%;
}
.about{
  text-align: center;
}
.park-data > img {
width: 40%;
max-width: 350px;
height: auto;
}
.days-of-the-week {
  text-align: left;
  display: block;
}