/* * {
  border: 1px solid rgb(37, 33, 33) !important;
} */


/* most of screen*/
body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  /* height: 100%; */
  min-height: 100vh;
  box-sizing: border-box;
}


/* top of screen*/
.nav-bar {
  padding: 0px;
  margin: 0px;
  background: rgba(0, 0, 0, 0.66);
}
header {
  background: url(https://i.imgur.com/cMzhQVf.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(240, 238, 236);
  text-shadow: 3px 3px black;
}
  nav {
  display: inline;
  
}


/* holds right and left side of screen*/
.divider {
  display: flex;
  flex-direction: row;
}


/* left side of screen*/
.s-bar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background: rgb(126, 109, 86);
}
.search-img{
  display: flex;
  justify-content: center;
  width: 215px;
  height: auto;
}
.states-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.states-ul{
  list-style: none;
  
}
.states-initials-ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.park-description{
  display: flex;
  flex-direction: column;
}


/* right side of screen*/
/* these two are in the works*/
/* .all-park-info{
  display: flex;
  background-color: blanchedalmond;
}
.img-and-info{
  display: flex;
  flex-direction: column;
} */
.outcome{
  min-width: 75%;
  padding-left: 10px;
  background: rgb(97, 113, 90);
  min-height: 100%;
}
.about{
  text-align: center;
}
.park-img {
width: 40%;
max-width: 350px;
height: auto;
}
.days-of-the-week {
  text-align: left;
  display: block;
}